<!DOCTYPE HTML>
<html>
<head>
    <title>Login - Gameon</title>
</head>
<body>
    <%- include('elements/errors', {errors}) %>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Login">
    </form>
</body>
</html>