<!DOCTYPE HTML>
<html>
<head>
    <title>Gameon</title>
      <link rel="stylesheet" href="/static/css/play.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="/static/js/play.js"></script>
</head>
<body>
    <div id="form">
        <h2>Join Match</h2>
        <div>
            <form id="joinMatch">
                <div class="input">
                    <label for="matchId" required>Match ID</label>
                    <input name="matchId" id="matchId" type="text">
                </div>
                <div class="input">
                    <input id="joinMatchButton" type="submit" value="Join">
                </div>
            </form>
        </div>
        <h2>Create Match</h2>
        <div>
            <form id="createMatch">
                <div class="input">
                    <label for="total">Match Total</label>
                    <input name="total" id="total" type="text" required>
                </div>
                <div class="input">
                    <label for="isCrawford">Crawford Rule</label>
                    <input name="isCrawford" id="isCrawford" type="checkbox">
                </div>
                <div class="input">
                    <label for="isJacoby">Jacoby Rule</label>
                    <input name="isJacoby" id="isJacoby" type="checkbox">
                </div>
                <div class="input">
                    <input id="createMatchButton" type="submit" value="Create">
                </div>
            </form>
        </div>
        <hr>
    </div>
    <div id="play">
        <span>Score</span>
        <div id="score"></div>
        <span>Cube</span>
        <div id="cube"></div>
        <span>Board</span>
        <div id="board"></div>
        <span>Dice</span>
        <div id="dice"></div>
        <hr>
        <span>Double option</span>
        <div id="doubleOption">
            <button class="doubleOption" id="offerDouble" value="true">Double</button>
            <button class="doubleOption" id="rollTurn" value="false">Roll</button>
        </div>
        <span>Accept double</span>
        <div id="acceptDouble">
            <button class="acceptDouble" id="acceptDoubleYes" value="true">Yes</button>
            <button class="acceptDouble" id="rejectDouble" value="false">No</button>
        </div>
    </div>
    <span>Log</span>
    <div id="clientLog"></div>
</body>
</html>